PORT=5000
MONGO_URI=mongodb://localhost:27017/grocery
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_verified_sender_email
JWT_SECRET=your_jwt_secret
GROQ_API_KEY=your_groq_api_key
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
