.hero{
  position: relative;
  height: 89vh;
  width: 100%;
  background-image: url("/grocery_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background:
    linear-gradient(
      to right,
      rgba(17, 24, 39, 0.7),
      rgba(17, 24, 39, 0.3)
    );

  display:flex;
  align-items:center;
}

.hero-content{
  padding-left: 80px;
  color: rgb(236, 230, 230);
  z-index: 2;
}

.hero-content h1{
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content span{
  color: orange;
}

.hero-content p{
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-content button{
  background: green;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}